#!/bin/bash
[user]
    name = Marcel Johannesmann
    email = mj0nez@fn.de
[alias]
    # Adapted from https://blog.jez.io/cli-code-review/
    # List files which have changed since BASE
    # Set BASE in shell configuration or before the command
    files = !git diff --name-only $(git merge-base HEAD \"$BASE\")

    # With stat for interactive use
    stat = !git diff --stat $(git merge-base HEAD \"$BASE\")

    # https://stackoverflow.com/questions/1838873/visualizing-branch-topology-in-git
    lg = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'