#!/bin/bash

[user]
    name = Marcel Johannesmann
    email = mj0nez@fn.de
[alias]
    # Adapted from https://blog.jez.io/cli-code-review/
    # List files which have changed since BASE
    # Set BASE in shell configuration or before the command
    files = !git diff --name-only $(git merge-base HEAD \"$BASE\")

    # With stat for interactive use
    stat = !git diff --stat $(git merge-base HEAD \"$BASE\")

    ls = log --oneline

    # https://stackoverflow.com/questions/1838873/visualizing-branch-topology-in-git
    lg = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'

    # quick and dirty commit
    c = "!git add -A && git commit -m "

    # run manual hooks and commit
    cm = "!bash ~/repositories/dotfiles/hooks/parse_args.sh"
    # qucik save point without manual hooks
    s = !git add -A && git commit -m 'chore: commit save point'
    # quick save point with hooks
    save = !git add -A && git cm -m 'chore: commit save point'

    undo = reset HEAD~1 --mixed
    res = !git reset --hard
    done = !git push origin HEAD

    co = checkout

    # List all branches
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate

    # Delete a branch
    del = branch -D
