#!/bin/bash

[init]
    defaultBranch = main

[user]
	name = Marcel Johannesmann
	email = mj0nez@fn.de

# see https://stackoverflow.com/questions/4220416/can-i-specify-multiple-users-for-myself-in-gitconfig/43654115#43654115
# and https://git-scm.com/docs/git-config#_conditional_includes
# optionally include directory based configs
[includeIf "gitdir:~/repositories/"]
    path = ~/repositories/.gitconfig
[includeIf "gitdir:~/repositories/work/"]
    path = ~/repositories/work/.gitconfig

[core]
    excludesfile = ~/repositories/.gitignore

    editor = code --wait

[pull]
    # merge instead of rebase
    rebase = false
    autostash = true

[merge]
    autostash = true

[rebase]
    autostash = true

[push]
    default = current
    autoSetupRemote = true

[alias]
    # Adapted from https://blog.jez.io/cli-code-review/
    # List files which have changed since BASE
    # Set BASE in shell configuration or before the command
    files = !git diff --name-only $(git merge-base HEAD \"$BASE\")

    # With stat for interactive use
    stat = !git diff --stat $(git merge-base HEAD \"$BASE\")

    ls = log --oneline

    # https://stackoverflow.com/questions/1838873/visualizing-branch-topology-in-git
    lg = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'

    # stage everything
    stg = add -A .

    # quick and dirty commit
    c = "!git add -A && git commit -m "

    # run manual hooks and commit
    cm = "!bash ~/repositories/dotfiles/hooks/parse_args.sh"
    # qucik save point without manual hooks
    s = !git add -A && git commit -m 'chore: commit save point'
    # quick save point with hooks
    save = !git add -A && git cm -m 'chore: commit save point'

    undo = reset HEAD~1 --mixed
    res = reset --hard
    done = push origin HEAD

    fp = push --force-with-lease

    co = checkout

    # List all branches
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate

    # Delete a branch
    del = branch -D

    # fetch remote tags
    ft = fetch --tags --force

    # start maintenance for this repository and add it to the local config file
    # use a subshell to get the home
    setup = !git maintenance register --config-file ~/repositories/.gitconfig
    # get the list of active timers
    timers = !systemctl --user list-timers
    # show maintained repos
    ls-maintenance = config --show-origin --get-all maintenance.repo

[fetch]
    # speed up git log
	writeCommitGraph = true

[rerere]
    # reuse recorded resolution
	enabled = true
