---
- name: Register direnv installation status.
  ansible.builtin.command: which direnv
  ignore_errors: true
  register: direnv_installed
  changed_when: false

- name: Download binary and place it on path.
  when: direnv_installed is failed
  become: true
  ansible.builtin.get_url:
    url: https://github.com/direnv/direnv/releases/download/v2.37.1/direnv.linux-amd64
    dest: "/usr/bin/direnv"
    mode: a+x
