---
- name: Install OpenJDK-17
  become: true
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    state: present
    pkg:
      - openjdk-17-jre
      - openjdk-17-jdk
      - openjdk-17-doc
      - openjdk-17-source

- name: Install OpenJDK-21
  become: true
  ansible.builtin.apt:
    state: present
    pkg:
      - openjdk-21-jre
      - openjdk-21-jdk
      - openjdk-21-doc
      - openjdk-21-source

- name: Install OpenJDK-25
  become: true
  ansible.builtin.apt:
    state: present
    pkg:
      - openjdk-25-jre
      - openjdk-25-jdk
      - openjdk-25-doc
      - openjdk-25-source
