---
- name: Download and unarchive Maven binary.
  become: true
  ansible.builtin.unarchive:
    src: https://dlcdn.apache.org/maven/maven-3/3.9.12/binaries/apache-maven-3.9.12-bin.tar.gz
    dest: /opt/
    remote_src: true
